<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :page %>
    <%= stylesheet_link_tag :form %>
    <%= stylesheet_link_tag :lightgallery %>
    <%= javascript_include_tag :all %>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    
  </head>

  <body class="<%= page_classes %>">
    
    
      <header>
        <div class="header-container">
          <a href="../index.html">
            <%= image_tag "logo.png" %>
          </a>
          <div class="main-contacts">
            <p>Москва, ул. Муромская д. 1 <%= image_tag "locate.png"  %></p>
            <p>+7 495 <span class="main-phone">784 1416</span><%= image_tag "phone.png" %></p>
            <a href="https://www.instagram.com/sc_grand/" target=blank class="vk-link-up"></a>
            <a href="https://new.vk.com/public119759887" target=blank class="insta-link-up"></a>
          </div>
        </div>
      </header>
      
      <div class="main-menu">
        <div class="container">
          <div class="menu">
            <div class="menu-item">
              <a href="index.html"></a>
            </div>
            <div class="menu-item dropdown">
              <a href="about.html">О нас</a>
              <div class="dropdown-content">
                <%= link_to "Новости", '/news.html' %>
                <%= link_to "Тренеры", '/trainers.html' %>
                <%= link_to "Документы", '/documents.html' %>
              </div>
            </div>
            <div class="menu-item dropdown">
              <a href="#">Наши услуги</a>
              <div class="dropdown-content">
                <%= link_to "Художественная гимнастика", '/gymnastics.html' %>
                <%= link_to "Эстетическая </br>гимнастика", '/aesthetic.html' %>
                <%= link_to "Постановки", '/direction.html' %>
                <%= link_to "Стретчинг", '/stretching.html' %>
              </div>
            </div>
            <div class="menu-item">
              <%= link_to "Расписание", '/scedule.html' %>
            </div>
            <div class="menu-item">
              <%= link_to "Галерея", '/album_gallery.html' %>
            </div>
            <div class="menu-item">
              <%= link_to "Попечительский совет", '/trustees.html' %>
            </div>
            <div class="menu-item">
              <%= link_to "Контакты", '/contacts.html' %>
            </div>
          </div>
        </div>
      </div>
      
<!--================================================= Form -->

      <div class="overlay"></div>
      <div class="form-wrapper">
        <div class="popup">
            <div class="form-header">
                <div class="close_modal"></div>
                <div class="form-hor-line"></div>
                <h2>анкета для заполнения заявки</h2>
                <h1>в спортивный клуб SC Grand</h1>
            </div>
            <form class="reg-form" action="">
                <div class="form-row">
                	<div class="form-item">
                		<p><span class="par">1.</span> Впишите ФИО ребёнка</p>
                	</div>
                	<div class="form-item">
                		<input type="text" placeholder="ФИО ребёнка" name="childname">
                	</div>
                </div>
                <div class="form-row">
                	<div class="form-item">
                		<p><span class="par">2.</span> Возраст ребёнка</p>
                	</div>
                	<div class="form-item">
                		<input type=birthday placeholder="дд.мм.гггг" name="birthday">
                	</div>
                </div>
                <div class="form-row">
                	<div class="form-item">
                		<p><span class="par">3.</span> ФИО контактного лица (мама, папа)</p>
                	</div>
                	<div class="form-item">
                		<input type="text" placeholder="ФИО родителя" name="parentname">
                	</div>
                </div>
                <div class="form-row">
                	<div class="form-item">
                		<p><span class="par">4.</span> Моб. телефон</p>
                	</div>
                	<div class="form-item">
                		<input type="tel" pattern="" placeholder="+7 945 5555555" name="phone">
                	</div>
                </div>
                <div class="form-row">
                	<div class="form-item">
                	    <p><span class="par">5.</span> Разряд (если есть)</p>
                	</div>
                	<div class="form-item">
              	    <select class="option-list" name="rank">
            	        <option value="Нет разряда">Нет разряда</option>
                      <option value="1-й разряд">1-й юношеский спортивный разряд</option>
                      <option value="2-й разряд">2-й юношеский спортивный разряд</option>
                      <option value="3-й разряд">3-й юношеский спортивный разряд</option>
                    </select>
                	</div>
                </div>
                <div class="form-row">
                	<div class="form-item">
                		<p><span class="par">6.</span> Выберите вид спорта</p>
                	</div>
                	<div class="form-item">
                		<select id="select" class="option-list" name="sport">
                      <option value="Художественная гимнастика">Художественная гимнастика</option>
                      <option value="Эстетическая гимнастика">Эстетическая гимнастика</option>
                      <option value="Хореография">Хореография</option>
                      <option value="Стретчинг">Стретчинг</option>
                    </select>
                	</div>
                </div>
                <div class="form-row">
                	<div class="form-item">
                		<p><span class="par">7.</span> Дополнительная информация</p>
                	</div>
                	<div class="form-item">
                		<textarea placeholder="Ваши ожидания от занятий и тд." name="additional"></textarea>
                	</div>
                </div>
                <div class="form-row">
                    <p>Мы свяжемся с вами в ближайшие рабочие сутки, звонки не позже 18.00</p>
                    <input type="submit" class="" value="Отправить заявку" disabled="disabled" name="btnsend">
                </div>
            </form>
        </div>
        <div class="popup2">
            <div class="form-header">
                <div class="close_modal"></div>
                <div class="form-hor-line"></div>
                <h2>анкета для заполнения заявки</h2>
                <h1>в спортивный клуб SC Grand</h1>
            </div>
            <div class="popup2message">
                <p>Спасибо, ваша заявка принята!</p>
            </div>
        </div>
      </div>

<!--================================================= Form end -->
      
    <%= yield %>
    
    <footer>
      <div class="container">
        <div class="first-footer-column">
          <a href="../index.html">
            <%= image_tag "footer-logo.png" %>
          </a>
        </div>
        <div class="second-footer-column">
          <ul class="footer-menu">
            <li>
              <%= link_to "художественная гимнастика", '/gymnastics.html' %>
            </li>
            <li>
              <%= link_to "эстетическая гимнастика", '/aesthetic.html' %>
            </li>
            <li>
              <%= link_to "попечительский совет", '/trustees.html' %>
            </li>
          </ul>
        </div>
        <div class="third-footer-column">
          <ul class="footer-menu">
            <li>
              <%= link_to "новости", '/news.html' %>
            </li>
            <li>
              <%= link_to "постановки", '/direction.html' %>
            </li>
            <li>
              <%= link_to "стретчинг", 'stretching.html' %>
            </li>
          </ul>
        </div>
        <div class="fourth-footer-column">
          <ul class="footer-menu">
            <li>
              <%= link_to "тренеры", '/trainers.html' %>
            </li>
            <!--<li>-->
            <!--  <%= link_to "фотогалерея", '/gallery.html' %>-->
            <!--</li>-->
            <li>
              <%= link_to "контакты", '/contacts.html' %>
            </li>
            <li>
              <%= link_to "о нас", '/about.html' %>
            </li>
          </ul>
        </div>
        <!--<div class="fifths-footer-column">-->
        <!--  <ul class="footer-menu">-->
        <!--    <li>-->
        <!--      <%= link_to "контакты", '/contacts.html' %>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <%= link_to "о нас", '/about.html' %>-->
        <!--    </li>-->
        <!--  </ul>-->
        <!--</div>-->
        <div class="sixths-footer-column">
          <p>+7 495 <span class="main-phone">784 1416</span></p>
          <p class="gravpix">by <%= link_to "Gravpix", 'http://gravpix.net/', target: "_blank" %></p>
        </div>
      </div>
    </footer>
    
  </body>
</html>