---
title: художественная гимнастика
---

<div class="back_button">
  <a href="album_gallery.html" class="button-back">Вернуться к альбомам</a>
</div>
<div class="container">   

<!--bionocopy gallery-->
  <div class="demo-gallery">
    <ul id="lightgallery">
      <li data-responsive="images/albums/6_Balashikha/1.jpg" data-src="images/albums/6_Balashikha/1.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/1.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/2.JPG" data-src="images/albums/6_Balashikha/2.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/2.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/3.JPG" data-src="images/albums/6_Balashikha/3.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/3.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/4.jpg" data-src="images/albums/6_Balashikha/4.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/4.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/5.JPG" data-src="images/albums/6_Balashikha/5.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/5-1.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/6.JPG" data-src="images/albums/6_Balashikha/6.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/6-1.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/7.JPG" data-src="images/albums/6_Balashikha/7.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/7.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/8.JPG" data-src="images/albums/6_Balashikha/8.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/8.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/9.JPG" data-src="images/albums/6_Balashikha/9.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/9.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/10.JPG" data-src="images/albums/6_Balashikha/10.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/10-1.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/11.JPG" data-src="images/albums/6_Balashikha/11.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/11-1.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/12.JPG" data-src="images/albums/6_Balashikha/12.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/12-1.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/13.JPG" data-src="images/albums/6_Balashikha/13.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/13.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/14.JPG" data-src="images/albums/6_Balashikha/14.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/14.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/15.JPG" data-src="images/albums/6_Balashikha/15.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/15.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/16.JPG" data-src="images/albums/6_Balashikha/16.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/16.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/17.JPG" data-src="images/albums/6_Balashikha/17.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/17-1.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/18.JPG" data-src="images/albums/6_Balashikha/18.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/18-1.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/19.JPG" data-src="images/albums/6_Balashikha/19.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/19.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/20.JPG" data-src="images/albums/6_Balashikha/20.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/20.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/6_Balashikha/21.JPG" data-src="images/albums/6_Balashikha/21.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/6_Balashikha/21.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>
        
        <%= javascript_include_tag 'js/script.js' %>
        <%= javascript_include_tag 'https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js' %>
        <%= javascript_include_tag 'js/lightgallery.js' %>
        <%= javascript_include_tag 'js/lg-thumbnail.js' %>
        <%= javascript_include_tag 'js/lg-zoom.js' %>
        <%= javascript_include_tag 'js/lg-hash.js' %>
        <%= javascript_include_tag 'js/lg-pager.js' %>
        <%= javascript_include_tag 'js/jquery.mousewheel.min.js' %>
        
    <!--end bionocopy gallery-->
    
</div>