---
title: художественная гимнастика
---

<div class="back_button">
  <a href="album_gallery.html" class="button-back">Вернуться к альбомам</a>
</div>
<div class="container">   

<!--bionocopy gallery-->
  <div class="demo-gallery">
    <ul id="lightgallery">
      <li data-responsive="images/albums/2_ng/1.JPG" data-src="images/albums/2_ng/1.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/1-1.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/2_ng/IMG_2851.JPG" data-src="images/albums/2_ng/IMG_2851.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/IMG_2851.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/2_ng/IMG_6265.JPG" data-src="images/albums/2_ng/IMG_6265.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/IMG_6265.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/2_ng/IMG_6266.JPG" data-src="images/albums/2_ng/IMG_6266.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/IMG_6266.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/2_ng/IMG_6267.JPG" data-src="images/albums/2_ng/IMG_6267.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/3-3.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/2_ng/IMG_6268.JPG" data-src="images/albums/2_ng/IMG_6268.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/IMG_6268.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/2_ng/IMG_6269.JPG" data-src="images/albums/2_ng/IMG_6269.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/IMG_6269.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/2_ng/IMG_6270.JPG" data-src="images/albums/2_ng/IMG_6270.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/2_ng/IMG_6270.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>   
        
    </ul>
  </div>
</div>
        
        <%= javascript_include_tag 'js/script.js' %>
        <%= javascript_include_tag 'https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js' %>
        <%= javascript_include_tag 'js/lightgallery.js' %>
        <%= javascript_include_tag 'js/lg-thumbnail.js' %>
        <%= javascript_include_tag 'js/lg-zoom.js' %>
        <%= javascript_include_tag 'js/lg-hash.js' %>
        <%= javascript_include_tag 'js/lg-pager.js' %>
        <%= javascript_include_tag 'js/jquery.mousewheel.min.js' %>
        
    <!--end bionocopy gallery-->
    
</div>