---
title: художественная гимнастика
---

<div class="container">
    <div class="sections-title-cource title-cource-png">
        <div class="hor-line"></div>
        <h2>Художественная</h2>
        <h1>гимнастика</h1>
    </div>
    <div class="index-about">
        <div class="index-about-left">
            <h1>Одним из самых зрелищных видов спорта по праву считается художественная гимнастика -</h1>
            <h2>это тандем гармонирующих друг -другу искусства и спорта.</h2>
            <div class="hor-line"></div>
            <p>Художественная гимнастика ограничивается-силой, выносливостью и ловкостью. Перед спортсменками стоит довольно непростая задача: они должны чувствовать ритм, подбирать к нему выразительные движения.</p>
        </div>
        <div class="index-about-right">
            <p>Другими словами: гимнастки должны воспитывать в себе эстетическую духовность.</p>
            <p>Сложные комбинации, состоящие из гимнастических, акробатических, танцевальных, гибких, пластичных упражнений с предметами ( скакалка, обруч, мяч, булавы, лента), в сопровождении с красивой музыкой. Детская художественная гимнастика способствует гармоничному физиологическому развитию, помогает развиваться эстетически, формирует вкус.</p>
            <!-- Ссылки на вызов модальных окон-->
    <a href="#win1" class="enroll-button">Записаться &#187</a>
<!-- Модальное окно №1 -->
   <a href="#x" class="overlay" id="win1"></a>
   <div class="popup">
         <form method="post" action="contactengine.php" class="contact-page-form">
                <input type="text" name="name" id="name" placeholder="Ваше имя" />
                <input type="text" name="phone" id="phone" placeholder="Номер телефона" />
                <input type="text" name="mail" id="mail" placeholder="Ваша почта" />
                <input type="textarea" name="question" id="question" placeholder="секция / возраст ребенка / уровень подготовки" />
                <input type="submit" name="submit" value="Отправить" />
         </form> 
    <a class="close"title="Закрыть" href="#close"></a>
    </div>
        </div>
    </div>
    <div class="sections-title-schedule">
        <h1>напоминаем: Расписание занятий может меняться</h1>
    </div>
    <div class="course-item">
        <div class="sections-course">
            <%= image_tag "test.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule title-schedule">пробное занятие</h1> 
            </div>
        </div>
        <div class="course-about sections-course">
            <div class="course-about-left">
                <h1>Если Вы не уверены, что это призвание вашего ребенка, ждем Вас на пробное занятие, по расписанию группы начальной подготовки.</h1>
                <div class="hor-line"></div>
                <p>Ребенок должен быть одет в шорты или лосины, обтягивающую  футболку, белые носки и сменную.</p>
            </div>
        </div>
    </div>
    
    <div class="course-item">
        <div class="sections-course">
            <%= image_tag "Initial_training.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule-red title-schedule">Начальная подготовка</h1> 
            </div>
        </div>
        <div class="course-about sections-course">
            <div class="course-about-left">
                <h1>1-2 годов обучения</h1>
                <p>Занятия проходят 3 раз в неделю и включают в себя: общую физическую подготовку, танцевальную подготовку.</p>
                <div class="hor-line"></div>
                <p>Понедельник, среда 19:00 – 20:00,Понедельник, среда 19:00 – 20:00</p>
                <p>Суббота 10:00-11:00</p>
            </div>
        </div>
    </div>
        <div class="course-item">
        <div class="sections-course">
            <%= image_tag "Training_groups.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule title-schedule">Учебно-тренировочная группа</h1> 
            </div>
        </div>
        <div class="course-about sections-course">
            <div class="course-about-left">
                <h1>3-4 годов обучения</h1>
                <p>Занятия проходят 4 раза в неделю и включают в себя: общую физическую подготовку, специальную физическую подготовку, предметную подготовку (скакалка, обруч, мяч), хореографию, танцевальную подготовку.</p>
                <div class="hor-line"></div>
                <p>Понедельник, четверг 15:30 – 19:00</p>
                <p>Среда 15:00- 18:30</p>
                <p>Суббота 10:00 – 13:30</p>
            </div>
        </div>
    </div>
    <div class="course-item">
        <div class="sections-course">
            <%= image_tag "sports_perfection.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule-red title-schedule">Группа спортивного совершенствования</h1> 
            </div>
        </div>
        <div class="course-about sections-course">
            <div class="course-about-left">
                <h1>4 и последующие года обучения</h1>
                <p>Занятия проходят 5 раз в неделю и включают в себя: общую физическую подготовку, специальную физическую подготовку, предметную подготовку (скакалка, обруч, мяч, булавы, лента), хореографию, танцевальную подготовку.</p>
                <div class="hor-line"></div>
                <p>Понедельник, четверг 15:30 – 20:30</p>
                <p>Среда 15:00- 20:00</p>
                <p>Суббота 10:00 – 15:00</p>
                <p>Воскресенье 16:00-19:00</p>
            </div>
        </div>
    </div>
    <div class="course-item">
        <div class="sections-course">
            <%= image_tag "Individual.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule title-schedule">Учебно-тренировочная группа</h1> 
            </div>
        </div>
        <div class="course-about sections-course">
            <div class="course-about-left">
                <h1>Нет предела совершенству</h1>
                <div class="hor-line"></div>
                <p>Занятия проходят по индивидуальной программе, по договоренности с тренером.</p>
            </div>
        </div>
    </div>
     
</div>