---
title: художественная гимнастика
---

<div class="container">
    
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>Художественная гимнастика</h1>
    </div>
    
    <div class="index-about">
        <div class="index-about-left">
            <h1>Одним из самых зрелищных видов спорта по праву считается художественная гимнастика —</h1>
            <p>это тандем гармонирующих друг с другом искусства и спорта</p>
            <div class="hor-line"></div>
            <p>Художественная гимнастика ограничивается-силой, выносливостью и ловкостью. Перед спортсменками стоит довольно непростая задача: они должны чувствовать ритм, подбирать к нему выразительные движения.</p>
        </div>
        <div class="index-about-right">
            <p>Другими словами: гимнастки должны воспитывать в себе эстетическую духовность.</p>
            <p>Сложные комбинации, состоящие из гимнастических, акробатических, танцевальных, гибких, пластичных упражнений с предметами (скакалка, обруч, мяч, булавы, лента), в сопровождении с красивой музыкой. Детская художественная гимнастика способствует гармоничному физиологическому развитию, помогает развиваться эстетически, формирует вкус.</p>
        </div>
    </div>
    <div class="unnamed">
        <h1>напоминаем: Расписание занятий может меняться</h1>
    </div>
    <!--=================================== item-->
    <div class="standart-page-item">
        <div class="standart-page-item-left">
            <%= image_tag "013.jpg" %>
            <div class="standart-page-item-title">
                <h1>Пробное занятие</h1>
            </div>
            <!--<div class="standart-page-item-overlay">-->
            <!--    <div class="standart-page-reg-button">Записаться</div>-->
            <!--</div>-->
        </div>
        <div class="standart-page-item-right">
            <h3>Если Вы не уверены, что это призвание вашего ребенка, ждем Вас на пробное занятие по расписанию группы начальной подготовки.</h3>
            <div class="hor-line"></div>
            <p>Ребенок должен быть одет в шорты или лосины, обтягивающую футболку, белые носки и сменную обувь.</p>
        </div>
    </div>
    <!--=================================== item-->
    <div class="standart-page-item">
        <div class="standart-page-item-left">
            <%= image_tag "014.jpg" %>
            <div class="standart-page-item-title-red">
                <h1>Группа начальной подготовки</h1>
            </div>
            <!--<div class="standart-page-item-overlay">-->
            <!--    <div class="standart-page-reg-button">Записаться</div>-->
            <!--</div>-->
        </div>
        <div class="standart-page-item-right">
            <h3>1-2 года обучения</h3>
            <p>Занятия проходят 3 раза в неделю и включают в себя: общую физическую подготовку, танцевальную подготовку.</p>
            <div class="hor-line"></div>
            <p>Понедельник, среда 19:00 – 20:00</p>
            <p>Суббота 10:00-11:00</p>
        </div>
    </div>
    <!--=================================== item-->
    <div class="standart-page-item">
        <div class="standart-page-item-left">
            <%= image_tag "015.jpg" %>
            <div class="standart-page-item-title">
                <h1>Учебно-тренировочная группа</h1>
            </div>
            <!--<div class="standart-page-item-overlay">-->
            <!--    <div class="standart-page-reg-button">Записаться</div>-->
            <!--</div>-->
        </div>
        <div class="standart-page-item-right">
            <h3>3-4 года обучения</h3>
            <p>Занятия проходят 4 раза в неделю и включают в себя: общую физическую подготовку, специальную физическую подготовку, предметную подготовку (скакалка, обруч, мяч), хореографию, танцевальную подготовку.</p>
            <div class="hor-line"></div>
            <p>Понедельник, четверг 15:30 – 19:00</p>
            <p>Среда 15:00- 18:30</p>
            <p>Суббота 10:00 – 13:30</p>
        </div>
    </div>
    <!--=================================== item-->
    <div class="standart-page-item">
        <div class="standart-page-item-left">
            <%= image_tag "017.jpg" %>
            <div class="standart-page-item-title-red">
                <h1>Группа спортивного совершенствования</h1>
            </div>
            <!--<div class="standart-page-item-overlay">-->
            <!--    <div class="standart-page-reg-button">Записаться</div>-->
            <!--</div>-->
        </div>
        <div class="standart-page-item-right">
            <h3>4 и последующие года обучения</h3>
            <p>Занятия проходят 5 раз в неделю и включают в себя: общую физическую подготовку, специальную физическую подготовку, предметную подготовку (скакалка, обруч, мяч, булавы, лента), хореографию, танцевальную подготовку.</p>
            <div class="hor-line"></div>
            <p>Понедельник, четверг 15:30 – 20:30</p>
            <p>Среда 15:00- 20:00</p>
            <p>Суббота 10:00 – 15:00</p>
            <p>Воскресенье 16:00-19:00</p>
        </div>
    </div>
    <!--=================================== item-->
    <div class="standart-page-item">
        <div class="standart-page-item-left">
            <%= image_tag "016.jpg" %>
            <div class="standart-page-item-title">
                <h1>Индивидуальные занятия</h1>
            </div>
            <!--<div class="standart-page-item-overlay">-->
            <!--    <div class="standart-page-reg-button">Записаться</div>-->
            <!--</div>-->
        </div>
        <div class="standart-page-item-right">
            <h3>Нет предела совершенству</h3>
            <div class="hor-line"></div>
            <p>Занятия проходят по индивидуальной программе, по согласованию с тренером.</p>
        </div>
    </div>
    <!--=================================== item-->
</div>