---
title: grand-ck
---

<div class="ribbon">
    <div class="container">
        <div class="grand">
            <a href="#">Заполнить анкету</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="news">
        <div class="news-item">
            <%= image_tag "paper.png" %>
            <h1>новости клуба</h1>
        </div>
        <div class="news-item">
            <p class="news-date">04 <span class="month">МАЯ</span></p>
            <h2>dont say it doesnt have</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
        <div class="news-item">
            <p class="news-date">04 <span class="month">МАЯ</span></p>
            <h2>занятие во вторник отменяется</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
        <div class="news-item">
            <p class="news-date">04 <span class="month">МАЯ</span></p>
            <h2>LOL</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
        <div class="news-item">
            <p class="news-date">04 <span class="month">МАЯ</span></p>
            <h2>SHRIFTI NE RABOTAUT AA</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
    </div>
    <div class="ribbon-text">
    </div>
    <div class="index-about">
        <div class="index-about-left">
            <h1>Наш клуб предлагает</h1>
            <h2>качественное обучение всем, независимо от телосложения, возраста и пола!</h2>
            <div class="hor-line"></div>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Наш клуб художественной гимнастики и танцев предлагает качественное обучение всем, независимо от телосложения, возраста и пола.</p>
        </div>
        <div class="index-about-right">
            <p>Танец — это возможность выразить себя через грациозные движения тела, рук, показать свой неповторимый образ под современные мотивы музыки.</p>
            <p>Нет желания танцевать? Мы предлагаем занятия по общей либо специальной физической подготовке. Физические упражнения по художественной гимнастике, входящие в курс обучения, способствуют поддержанию мышечного тонуса, физических сил и, безусловно, иммунитета.</p>
            <p>Уже через несколько занятий вы почувствуете улучшение самочувствия и прилив жизненных сил. Ни одно лекарство не принесёт столько пользы организму, как повседневные спортивные и танцевальные упражнения.</p>
            <a href="about.html" class="index-about-button">подробнее &#187</a>
        </div>
    </div>
    <div class="sections-title">
        <div class="hor-line"></div>
        <h2>Набор в секции</h2>
        <h1>художественной и эстетической гимнастики</h1>
        
    </div>
    <div class="sections-container">
        <div class="sections-item">
            <%= image_tag "001.png" %>
            <p>художественная</p>
            <h1>гимнастика</h1>
            <p>для детей</p>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <%= image_tag "002.png" %>
            <p>эстетическая</p>
            <h1>гимнастика</h1>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <%= image_tag "003.png" %>
            <p>постановка</p>
            <h1>упражнений</h1>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <%= image_tag "004.png" %>
            <p>гимнастическая</p>
            <h1>растяжка</h1>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <%= image_tag "005.png" %>
            <h1>хореография</h1>
            <div id="registration-button">Записаться</div> 
        </div>
    </div>
</div>