---
title: grand-sc
---

<div class="ribbon">
    <div class="container">
        <div class="grand">
            <!-- <div class="open_modal">
                <p>Заполнить анкету</p>
            </div> -->
        </div>
    </div>
</div>

<div class="container">
    <div class="index-news">
        <div class="news-item">
            <%= image_tag "paper.png" %>
            <a href="news.html">новости клуба</a>
        </div>
        <div class="news-item">
            <p class="news-date"><span class="month">ВНИМАНИЕ ЛЮДИ! </span></p>
            <h2>Открыт набор в секцию художественной гимнастики</h2>
        </div>
        <div class="news-item">
            <p class="news-date">01 <span class="month">ИЮНЯ</span></p>
            <h2>Летние учебно-тренировочные оздоровительные сборы.</h2>
            <p>c 06 августа по 20 августа 2016 года пройдёт програма сборов в живописном уголке г. Сергиев Посад в санатории "Буран"</p>
        </div>
        <div class="news-item">
            <p class="news-date">13-14 <span class="month">ФЕВРАЛЯ</span></p>
            <h2>ПОЗДРАВЛЯЕМ !</h2>
            <p>Гимнасток нашего клуба, занявших призовые места в турнире турнира по художественной гимнастике “Мисс Валентинка2016”</p>
        </div>
        <div class="news-item">
            <p class="news-date">14-15 <span class="month">НОЯБРЯ</span></p>
            <h2>ПОЗДРАВЛЯЕМ !</h2>
            <p>гимнасток нашего клуба, занявших призовые места в Межрегиональном турнире городов России и Московской области по художественной гимнастике «НАДЕЖДА»14-15 ноября 2015 г</p>
        </div>
    </div>

    <div class="unnamed-two">
        <%= image_tag "images/nabor.jpg" %>
    </div>

    <div class="ribbon-text">
    </div>
    <div class="index-about">
        <div class="index-about-left">
            <h1>Наш клуб предлагает:</h1>
            <div class="hor-line"></div>
            <p>Основной деятельностью Клуба является организация тренировочного процесса для достижения высоких спортивных результатов, присвоения спортивных разрядов и званий  «кандидата в мастера» и «мастера спорта».</p>
        </div>
        <div class="index-about-right">
            <p>Наши специалисты развивают в девочках пластичность, грациозность, эмоциональность, ритмичность. Стройность, здоровье, красота, хорошая физическая подготовка, дисциплина, сила воли – все это дает именно гимнастика.</p>
            <p>Приводите Вашего ребенка на занятия Художественной и Эстетической гимнастикой в наш Клуб. Подарите своему ребенку счастливое спортивное детство, массу ярких впечатлений и новых друзей!</p>
            <a href="about.html" class="index-about-button">подробнее &#187</a>
        </div>
    </div>
    <div class="sections-title">
        <div class="hor-line"></div>
        <h2>Набор в секции</h2>
        <h1>художественной и эстетической гимнастики</h1>
        
    </div>
    <div class="sections-container">
        <div class="sections-item">
            <%= image_tag "001.png" %>
            <p>художественная</p>
            <h1>гимнастика</h1>
            <!-- <div class="registration-button">Записаться</div> -->
        </div>
        <div class="sections-item">
            <%= image_tag "002.png" %>
            <p>эстетическая</p>
            <h1>гимнастика</h1>
            <!-- <div class="registration-button">Записаться</div> -->
        </div>
        <div class="sections-item">
            <%= image_tag "003.png" %>
            <p>постановка</p>
            <h1>упражнений</h1>
            <!--<div class="registration-button">Записаться</div>-->
        </div>
        <div class="sections-item">
            <%= image_tag "004.png" %>
            <p>гимнастическая</p>
            <h1>растяжка</h1>
            <!--<div class="registration-button">Записаться</div>-->
        </div>
        <div class="sections-item">
            <%= image_tag "005.png" %>
            <h1>хореография</h1>
        </div>
    </div>
</div>