---
title: новости
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>новости</h1>
    </div>
    
    <div class="news-banner">
       <%= image_tag "one-banner.jpg" %> 
    </div>
    
    <div class="news-page-item">
        <div class="news-icon-holder red">
            <div class="news-data-holder"><p>25 мая 2016</p></div>
            <%= image_tag "icon_news_small.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "news_logo.jpg" %>
        </div>
        <div class="news-content">
            <h1>Д И С П А Н С Е Р И З А Ц И Я !!!</h1>
            <p>Гимнасткам Учебно-тренировочной (УТГ), Группы спортивного совершенствования (ГСС), а также Группы начальной подготовки (ГНП) - отъезжающих на летние спортивные сборы необходимо пройти диспансеризацию</p>
            <p><span> 31 мая 2016 г. с 9.00 до 12.00 часов</span></p>
            <div class="hor-line"></div>
            <p>в Филиале № 13 ГАУЗ МНПЦ МРВСМ ДЗМ по адресу: 127055, г. Москва, ул.Новослободская, д. 54/56</p></br>
            <p><span>Документы необходимые для прикрепления к диспансеру </span></p>
            <p>(для детей до 14 лет):</p></br>
            <p>- Копия свидетельства о рождении ребенка;</p>
            <p>- Копия полиса обязательного медицинского страхования (обязательно с двух сторон);</p>
            <p>- Выписка из медицинской карты ребенка о хронических заболеваниях (Форма №30);</p>
            <p>- Направление из поликлиники по месту жительства по форме (Форма №057/У04);</p>
            <p>- Результат общего анализа крови;</p>
            <p>- Результат общего анализа мочи.</p></br>
            <p><span>СПРАВКУ</span> о допуске к тренировкам и участию в соревнованиях, полученную в диспансере, необходимо предоставить тренеру.</p></br>
            <p><span>Гимнастки, не прошедшие диспансеризацию, к тренировкам и соревнованиям не допускаются.</span></p>
        </div>
    </div>
    
    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>26 мая 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "017.jpg" %>
        </div>
        <div class="news-content">
            <h1>П О З Д Р А В Л Я Е М!</h1>
            <p>Гимнасток занявших призовые места в Открытом турнире по художественной гимнастике «Весенние звездочки» г.Балашиха (26-27.03.2016г.)</p>
            <div class="hor-line"></div>
            <p>среди гимнасток 2009 г.р.</p>
            <p><span>1 место — </span>Фалько Арину (категория «А»)</p></br>
            <p>среди гимнасток 2007 г.р.</p>
            <p><span>1 место — </span>Ситникову Анну (категория «А»)</p>
            <p><span>1 место — </span>Куликову Пелагею (категория «С»)</p></br>
            <p>среди гимнасток 2004 г.р.</p>
            <p><span>2 место — </span>Полякову Елизавету (категория «A»)</p>
            <p><span>1 место — </span>Попову Алену (категория «C»)</p></br>
            <p><span>МОЛОДЦЫ, ТАК ДЕРЖАТЬ !</span></p>
        </div>
    </div>
    
    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>26 мая 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "019.jpg" %>
        </div>
        <div class="news-content">
            <h1>П О З Д Р А В Л Я Е М!</h1>
            <p>Гимнасток, принявших участие в Межрегиональном турнире спортивных клубов по художественной гимнастике «Новогодняя сказка!» 23-24.01.2016 г. г. Москва</p>
            <p>и занявших призовые места:</p>
            <div class="hor-line"></div>
            <p><span>2 место — </span>Полякову Елизавету (среди гимнасток 2004 г., выступавших по 1 взрослому разряду, в категории «А»)</p>
            <p><span>4 место — </span>Фалько Арину (среди гимнасток 2009 г. в категории «А»)</p>
            <p><span>4 место — </span>Ананьину Дарью (среди гимнасток 2009 г. в категории «С»)</p>
        </div>
    </div>
    
</div>