---
title: новости
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>новости</h1>
    </div>
    
    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>29 мая 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "images/albums/8_photo.jpg" %>
        </div>
        <div class="news-content">
            <h1>Первый тренировочный год - как посвящение в спортсмены.</h1>
            <p>Юные, талантливые ученицы, добро пожаловать в нашу семью. Поздравляем с успешным завершением учебного года и сдачей специальных и физических нормативов 2015-2016.</p></br>
            <p><span>ГОРДИМСЯ ВАМИ!</span></p>
        </div>
        <a href="year_sport.html" target=blank class="corner-button">посмотреть фотографии &#187</a>
    </div>

    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>23 мая 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "images/albums/7_photo.jpg" %>
        </div>
        <div class="news-content">
            <h1>&quot;Все мы родом из детства&quot;.</h1>
            <p>21-22.05.2016 состоялось Открытое Первенство МАУ &quot;ЦДЮС&quot; по художественной гимнастике, посвящённое Дню защиты детей.</p>
            <div class="hor-line"></div>
            <p>среди гимнасток 2004 г.р.</p>
            <p><span>1 место — </span>Полякова Елизавета (категория «А»)</p>
            <p><span>4 место — </span>Попова Алена (категория «А»)</p></br>
            <p>среди гимнасток 2007 г.р.</p>
            <p><span>2 место — </span>Куликова Пелагея (категория «Б»)</p></br>
            <p>среди гимнасток 2009 г.р.</p>
            <p><span>2 место — </span>Фалько Арина (категория «А»)</p></br>
            <p><span>МОЛОДЦЫ, ТАК ДЕРЖАТЬ !</span></p>
        </div>
        <a href="childhood.html" target=blank class="corner-button">посмотреть фотографии &#187</a>
    </div>

    <div class="news-page-item">
        <div class="news-icon-holder red">
            <div class="news-data-holder"><p>21 мая 2016</p></div>
            <%= image_tag "icon_news_small.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "news_logo.jpg" %>
        </div>
        <div class="news-content">
            <h1>Д И С П А Н С Е Р И З А Ц И Я !!!</h1>
            <p>Гимнасткам Учебно-тренировочной (УТГ), Группы спортивного совершенствования (ГСС), а также Группы начальной подготовки (ГНП) - отъезжающих на летние спортивные сборы необходимо пройти диспансеризацию</p>
            <p><span> 31 мая 2016 г. с 9.00 до 12.00 часов</span></p>
            <div class="hor-line"></div>
            <p>в Филиале № 13 ГАУЗ МНПЦ МРВСМ ДЗМ по адресу: 127055, г. Москва, ул.Новослободская, д. 54/56</p></br>
            <p><span>Документы необходимые для прикрепления к диспансеру </span></p>
            <p>(для детей до 14 лет):</p></br>
            <p>- Копия свидетельства о рождении ребенка;</p>
            <p>- Копия полиса обязательного медицинского страхования (обязательно с двух сторон);</p>
            <p>- Выписка из медицинской карты ребенка о хронических заболеваниях (Форма №30);</p>
            <p>- Направление из поликлиники по месту жительства по форме (Форма №057/У04);</p>
            <p>- Результат общего анализа крови;</p>
            <p>- Результат общего анализа мочи.</p></br>
            <p><span>СПРАВКУ</span> о допуске к тренировкам и участию в соревнованиях, полученную в диспансере, необходимо предоставить тренеру.</p></br>
            <p><span>Гимнастки, не прошедшие диспансеризацию, к тренировкам и соревнованиям не допускаются.</span></p>
        </div>
    </div>

    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>28 март 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "images/albums/6_photo_bw.jpg" %>
        </div>
        <div class="news-content">
            <h1>Мы гордимся ученицами нашего клуба, занявшие почти все высшие ступени пьедестала.</h1>
            <p>Grandиозные результаты достигнуты 26-27. 03. 2016, г. Балашиха.</p>
            <div class="hor-line"></div>
            <p>среди гимнасток 2009 г.р.</p>
            <p><span>1 место — </span>Фалько Арину (категория «А»)</p></br>
            <p>среди гимнасток 2007 г.р.</p>
            <p><span>1 место — </span>Ситникову Анну (категория «А»)</p>
            <p><span>1 место — </span>Куликову Пелагею (категория «С»)</p></br>
            <p>среди гимнасток 2004 г.р.</p>
            <p><span>2 место — </span>Полякову Елизавету (категория «A»)</p>
            <p><span>1 место — </span>Попову Алену (категория «C»)</p></br>
            <p><span>МОЛОДЦЫ, ТАК ДЕРЖАТЬ !</span></p>
        </div>
        <a href="Balashikha.html" target=blank class="corner-button">посмотреть фотографии &#187</a>
    </div>

    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>14 марта 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "images/019.jpg" %>
        </div>
        <div class="news-content">
            <h1>Появилось свободное время- проведи его в тренировке!</h1>
            <p>С 9 по 13 марта в г.Фрязино состоялись учебно-тренировочные сборы, где каждую минутку наши ученицы оттачивали мастерство, трудились и внимали каждому слову тренеров.</p></br>
           
        </div>
        <a href="Fryazino.html" target=blank class="corner-button">посмотреть фотографии &#187</a>
    </div>

    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>29 фев 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "images/albums/4_photo.jpg" %>
        </div>
        <div class="news-content">
            <h1>Спортсменки улучшают результаты и повышают свой уровень.</h1>
            <p>28.02.2016 в г. Фрязино прошёл турнир по художественной гимнастике &quot;Февральские узоры&quot;.</p>
            <div class="hor-line"></div>
            <p>среди гимнасток 2004 г.р.</p>
            <p><span>1 место — </span>Полякова Елизавета (категория «А»)</p></br>
            <p>среди гимнасток 2007 г.р.</p>
            <p><span>3 место — </span>Ситникову Анну (категория «А»)</p>
            <p><span>4 место — </span>Куликова Пелагея (категория «Б»)</p></br>
            <p>среди гимнасток 2009 г.р.</p>
            <p><span>2 место — </span>Фалько Арина (категория «A»)</p>
            <p><span>1 место — </span>Ананьина Дарья (категория «Б»)</p></br>
        </div>
        <a href="February.html" target=blank class="corner-button">посмотреть фотографии &#187</a>
    </div>

    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>14 фев 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "images/albums/3_photo.jpg" %>
        </div>
        <div class="news-content">
            <h1>&quot;Влюблённые в спорт&quot;- с таким девизом наши гимнастки соревновались на ежегодном турнире &quot;Мисс Валентинка 2016&quot;.</h1>
            <p> 12-13.02.2016 г.Москва</p>
            <div class="hor-line"></div>
            <p>среди гимнасток 2004 г.р.</p>
            <p><span>3 место — </span>Полякова Елизавета (категория «А»)</p></br>
            <p>среди гимнасток 2007 г.р.</p>
            <p><span>4 место — </span>Ситникову Анну (категория «А»)</p>
            <p><span>6 место — </span>Куликова Пелагея (категория «Б»)</p></br>
            <p>среди гимнасток 2009 г.р.</p>
            <p><span>2 место — </span>Фалько Арина (категория «A»)</p>
            <p><span>4 место — </span>Ананьина Дарья (категория «Б»)</p></br>
        </div>
        <a href="Valentinka.html" target=blank class="corner-button">посмотреть фотографии &#187</a>
    </div>
    
    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>25 янв 2016</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "images/albums/2_photo_bw.jpg" %>
        </div>
        <div class="news-content">
            <h1>П О З Д Р А В Л Я Е М!</h1>
            <p>Гимнасток, принявших участие в Межрегиональном турнире спортивных клубов по художественной гимнастике «Новогодняя сказка!» 23-24.01.2016 г. г. Москва</p>
            <p>и занявших призовые места:</p>
            <div class="hor-line"></div>
            <p><span>2 место — </span>Полякову Елизавету (среди гимнасток 2004 г., выступавших по 1 взрослому разряду, в категории «А»)</p>
            <p><span>4 место — </span>Фалько Арину (среди гимнасток 2009 г. в категории «А»)</p>
            <p><span>4 место — </span>Ананьину Дарью (среди гимнасток 2009 г. в категории «С»)</p></br>
            <p><span>МОЛОДЦЫ!</span></p>
        </div>
        <a href="Christmas_story.html" target=blank class="corner-button">посмотреть фотографии &#187</a>
    </div>
    
    <div class="news-page-item">
        <div class="news-icon-holder">
            <div class="news-data-holder"><p>16 ноя 2015</p></div>
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "news_logo.jpg" %>
        </div>
        <div class="news-content">
            <h1>П О З Д Р А В Л Я Е М!</h1>
            <p>Гимнасток нашего клуба, занявших призовые места в Межрегиональном турнире городов России и Московской области по художественной гимнастике «НАДЕЖДА»14-15 ноября 2015 г</p>
            <div class="hor-line"></div>
            <p><span>2 место среди гимнасток 2004 г.р - </span>Полякову Елизавету</p></br>
            <p><span>1 место среди гимнасток 2007 г.р. - </span>Ситникову Анну</p>
        </div>
    </div>

</div>