---
title: художественная гимнастика
---

<div class="back_button">
  <a href="album_gallery.html" class="button-back">Вернуться к альбомам</a>
</div>
<div class="container">   

<!--bionocopy gallery-->
  <div class="demo-gallery">
    <ul id="lightgallery">
      <li data-responsive="images/albums/8_year_sport/1.jpg" data-src="images/albums/8_year_sport/1.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/1.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/2.jpg" data-src="images/albums/8_year_sport/2.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/2.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/3.jpg" data-src="images/albums/8_year_sport/3.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/3.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/4.jpg" data-src="images/albums/8_year_sport/4.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/4.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/5.jpg" data-src="images/albums/8_year_sport/5.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/5.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/6.jpg" data-src="images/albums/8_year_sport/6.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/6.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/9.jpg" data-src="images/albums/8_year_sport/9.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/9.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/10.jpg" data-src="images/albums/8_year_sport/10.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/10.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/11.jpg" data-src="images/albums/8_year_sport/11.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/11.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/12.jpg" data-src="images/albums/8_year_sport/12.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/12.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/13.jpg" data-src="images/albums/8_year_sport/13.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/13.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/14.jpg" data-src="images/albums/8_year_sport/14.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/14.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/15.jpg" data-src="images/albums/8_year_sport/15.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/15.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/16.jpg" data-src="images/albums/8_year_sport/16.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/16.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/17.jpg" data-src="images/albums/8_year_sport/17.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/17.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/18.jpg" data-src="images/albums/8_year_sport/18.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/18.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/19.jpg" data-src="images/albums/8_year_sport/19.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/19.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/20.jpg" data-src="images/albums/8_year_sport/20.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/20.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/21.jpg" data-src="images/albums/8_year_sport/21.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/21.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/22.jpg" data-src="images/albums/8_year_sport/22.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/22.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/23.jpg" data-src="images/albums/8_year_sport/23.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/23.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/24.jpg" data-src="images/albums/8_year_sport/24.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/24.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/25.jpg" data-src="images/albums/8_year_sport/25.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/25.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/26.jpg" data-src="images/albums/8_year_sport/26.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/26.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/27.jpg" data-src="images/albums/8_year_sport/27.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/27.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/28.jpg" data-src="images/albums/8_year_sport/28.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/28.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/29.jpg" data-src="images/albums/8_year_sport/20.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/29.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/30.jpg" data-src="images/albums/8_year_sport/30.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/30.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/31.jpg" data-src="images/albums/8_year_sport/31.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/31.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/32.jpg" data-src="images/albums/8_year_sport/32.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/32.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/33.jpg" data-src="images/albums/8_year_sport/33.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/33.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/34.jpg" data-src="images/albums/8_year_sport/34.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/34.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/35.jpg" data-src="images/albums/8_year_sport/35.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/35.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/36.jpg" data-src="images/albums/8_year_sport/36.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/36.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/37.jpg" data-src="images/albums/8_year_sport/37.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/37.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/38.jpg" data-src="images/albums/8_year_sport/38.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/38.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/39.jpg" data-src="images/albums/8_year_sport/39.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/39.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/40.jpg" data-src="images/albums/8_year_sport/40.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/40.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/41.jpg" data-src="images/albums/8_year_sport/41.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/41.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/42.jpg" data-src="images/albums/8_year_sport/42.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/42.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/43.jpg" data-src="images/albums/8_year_sport/43.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/43.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/44.jpg" data-src="images/albums/8_year_sport/44.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/44.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/45.jpg" data-src="images/albums/8_year_sport/45.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/45.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/46.jpg" data-src="images/albums/8_year_sport/46.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/46.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/47.jpg" data-src="images/albums/8_year_sport/47.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/47.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/48.jpg" data-src="images/albums/8_year_sport/48.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/48.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/49.jpg" data-src="images/albums/8_year_sport/49.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/49.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/50.jpg" data-src="images/albums/8_year_sport/50.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/50.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/51.jpg" data-src="images/albums/8_year_sport/51.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/51.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/52.jpg" data-src="images/albums/8_year_sport/52.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/52.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/53.jpg" data-src="images/albums/8_year_sport/53.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/53.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/54.jpg" data-src="images/albums/8_year_sport/54.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/54.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/55.jpg" data-src="images/albums/8_year_sport/55.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/55.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/8_year_sport/56.jpg" data-src="images/albums/8_year_sport/56.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/8_year_sport/56.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
        
    </ul>
  </div>
</div>

        
        <%= javascript_include_tag 'js/script.js' %>
        <%= javascript_include_tag 'https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js' %>
        <%= javascript_include_tag 'js/lightgallery.js' %>
        <%= javascript_include_tag 'js/lg-thumbnail.js' %>
        <%= javascript_include_tag 'js/lg-zoom.js' %>
        <%= javascript_include_tag 'js/lg-hash.js' %>
        <%= javascript_include_tag 'js/lg-pager.js' %>
        <%= javascript_include_tag 'js/jquery.mousewheel.min.js' %>
        
    <!--end bionocopy gallery-->
    
</div>